[Unit]
Description=Daily Cleanup of dosnap Snapshots

[Timer]
OnBootSec=10m
OnCalendar=daily
RandomizedDelaySec=1min

[Install]
WantedBy=timers.target
